

* {
    font-family: 'Source Sans 3', sans-serif;
}

body, html {
    background-color: #f5f9fe;
}

.navigation__bar {
    border-radius: 5px;
    background-color: #f5f9fe;
    box-shadow: 0 4px 6px #bfcad8;
}

.navigation__bar #navbar{
    border-radius: 5px;
}

.navigation__bar #navBar #nav a {
    /* border: 1px solid #FFCC00; */
    color: #000000;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
    transition: all .6s;

}

.navigation__bar #navBar #nav a:hover {
    margin-left: 5px;
    font-size: 3.4vh;
}